<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
<div th:fragment="paginationDTO">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${paginationDTO.showFirstPage}">
                <a href="..?page=1" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${paginationDTO.showPrevious}">
                <a th:href="@{./(page=${paginationDTO.page -1})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page:${paginationDTO.getPages()}" th:class="${paginationDTO.page==page}?'active':''">
                <a th:href="@{./(page=${page})}" th:text="${page}"></a>
            </li>
            <li th:if="${paginationDTO.showNext}">
                <a th:href="@{./(page=${paginationDTO.page +1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${paginationDTO.showEndPage}">
                <a th:href="@{./(page=${paginationDTO.pageCount})}" aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>