body{
    background-color: #eeeeee;
}
.main{
    background-color: white;
    margin: 30px 100px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.underline{
    padding-bottom: 5px;
    border-bottom: 3px solid #eeee;
}
.all {
    border-right: 3px solid #eeee;
}
.underline-question{
    padding-bottom: 30px;
    border-bottom: 3px solid #eeee;
}
.media-object{
    width: 50px;
    height: 50px;
}
.text-color{
    font-size: 13px;
    font-weight: normal;
    color: #999;
}
.revert-menu{
    color: #999;
}
.section{
    margin-top:15px;
}
.middle{
    vertical-align:middle;
}
.comment{
    margin: 0px 0px 15px 0px;
}
.comment-button{
    float: right;
}
.comment-img{
    margin: 15px 0px 15px 0px;
}
.comment-like{
     color: #989898;
     background-color: #f6f6f6;
     border-color: #e3e3e3;
 }
.comment-comment-color{
    color: #333333;
}
.comment-likes {
    margin-left: 5px;
}
.comment-time{
    color: #999999;
    font-size: 15px;
    margin-top: 10px;
}
.comment-content{
    margin:15px 0px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}
.comment-comment{
    margin: 15px 0px 15px 0px;
}
.comment-all{
    border: 2px solid #eeee;
}
.question-tag{
    margin: 0px 5px 0px 0px;
    font-size: 15px;
    overflow: hidden;
    display: inline flow-root list-item;
}
.associated{
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
    line-height: 25px;
}
.img-width{
    width: 100%;
}
.tag{
    margin:40px 0 0 0;
}
.tag-show{
    display: none;
    margin-top: 10px;
}
.text-center{
    padding: 0px 0px 15px 0px;
    text-align: center;
}