<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>论坛</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/forum.css">
    <link rel="stylesheet" href="/css/prodile.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/forum.js"></script>
</head>
<body>
<div th:insert="~{/other/navigation::user}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 all">
            <div th:insert="~{/other/question-detail::questionDTO}"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-img underline" th:each="commentDTO:${commentDTOList}">
                <div class="media">
                    <div class="media-left">
                        <a >
                            <img class="media-object img-rounded" th:src="${commentDTO.user.avatarUrl}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span  th:text="${commentDTO.user.name}"></span>
                        </h5>
                        <div class="comment-content" th:text="${commentDTO.content}"></div>
                        <div>
                            <div class="btn-group">
                                <span class="glyphicon glyphicon-thumbs-up btn comment-like" aria-hidden="true"><span class="comment-likes" th:text="${commentDTO.likeCount}"></span></span>
                                <span class="glyphicon glyphicon-comment btn comment-like" aria-hidden="true" th:data-id="${commentDTO.id}" onclick="collapseComments(this)"></span>
                            </div>
                            <span class="pull-right comment-time" th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                        <div class="well comment-comment collapse" th:id="${'comment-'+commentDTO.id}">
                            二级评论
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{/other/comment::questionDTO}"></div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div th:insert="~{/other/associated::questionDTO}"></div>
        </div>
    </div>
</div>
</body>
</html>